<h1>Listing products</h1>

<table>
 <tr>
   <th>Name</th>
   <th>Stock</th>
 </tr>

 <% @products.each do |product| %>
   <tr>
     <td><%= product.name %></td>
     <td><%= product.stock %></td>
     <td><%= link_to 'Show', product_path(product) %></td>
   </tr>
 <% end %>
</table>